<!DOCTYPE html>
<html ng-app="Bitford" ng-csp>
  <head>
    <meta charset="utf-8">
    <title>Bitford</title>
    <script src="angular.js"></script>
    <script src="digest.js"></script>
    <script src="base64.js"></script>
    <script src="socket.js"></script>
    <script src="bufferlist.js"></script>
    <script src="benc.js"></script>
    <script src="torrent.js"></script>
    <script src="tracker.js"></script>
    <script src="peer.js"></script>
    <script src="store.js"></script>
    <script src="http-server.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <h1>Bitford</h1>

    <form ng-controller="LoadController">
      <button ng-click="loadFile()">Load Torrent</button>
    </form>

    <section ng-controller="TorrentsController">
      <article ng-repeat="torrent in torrents"
	       ng-controller="TorrentController"
	       class="torrent">
	<h2 ng-click="toggleShow()">{{torrent.name}}</h2>
	<p class="size">{{torrent.store.getDonePercent()}}% of {{humanSize(torrent.store.size)}}</p>
	<div ng-show="show">
	  <div>
	    <button ng-hide="isMultiFile" ng-click="saveButton([torrent.name])" ng-disabled="saving">Save</button>
	    <button ng-hide="isMultiFile" ng-click="playButton([torrent.name])">Play</button>
	    <button disabled>Remove</button>
	  </div>
	  <ul class="files" ng-show="isMultiFile">
	    <li ng-repeat="file in torrent.files">
	      <h3>{{file.path.join("/")}}</h3>
	      <p class="size">{{humanSize(file.size)}}</p>
	      <button ng-click="saveButton(file.path)" ng-disabled="saving">Save</button>
	      <button>Play</button>
	    </li>
	  </ul>

	  <div ng-show="playingURL">
	    <video controls autoplay
		   src="{{playingURL}}"
		   type="video/mp4" />
	    </video>
	  </div>

	  <canvas ng-show="torrent.peers.length > 0"
		  pieces-canvas
		  width="128" height="512" class="pieces">
	  </canvas>
	  <ul ng-show="torrent.peers.length > 0"
	      class="peers">
	    <li ng-repeat="peer in torrent.peers" ng-show="peer.state == 'connected'">
	      {{peer.ip}}:{{peer.port}}
	      {{peer.state}} {{peer.error}}
	      <span>
		{{peer.getDonePercent()}}%
		<span ng-show="peer.choked" style="color: red">C</span>
		<span ng-hide="peer.choked" style="color: green">U</span>
		<span ng-show="peer.interested" style="color: blue">I</span>
		<span ng-hide="peer.interested" style="color: #ccc">N</span>
		<span ng-show="peer.interesting" style="color: blue">I!</span>
		<span ng-hide="peer.interesting" style="color: #ccc">N!</span>
		<span ng-show="peer.state == 'connected'">
		  {{round(peer.minDelay)}} ms, req {{peer.requestedChunks.length}}/{{peer.inflightThreshold}}, proc {{peer.inPiecesProcessing}}, {{peer.buffer.length}} buffer
		</span>
	      </span>
	    </li>
	  </ul>
	</div>

      </article>
    </section>
  </body>
</html>
