<!DOCTYPE html>
<html ng-app="Bitford" ng-csp>
  <head>
    <meta charset="utf-8">
    <title>Bitford</title>
    <script src="angular.js"></script>
    <script src="digest.js"></script>
    <script src="base64.js"></script>
    <script src="socket.js"></script>
    <script src="bufferlist.js"></script>
    <script src="benc.js"></script>
    <script src="torrent.js"></script>
    <script src="tracker.js"></script>
    <script src="peer.js"></script>
    <script src="store.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>

  <body>
    <form ng-controller="LoadController">
      <button ng-click="loadFile()">Load Torrent</button>
    </form>

    <section ng-controller="TorrentsController">
      <ul ng-repeat="torrent in torrents">
	<li style="clear: left">
	  <p>{{torrent.name}} ({{torrent.store.getDonePercent()}}%)</p>
	  <canvas pieces-canvas width="128" height="512"
		  style="float: left; padding-right: 2em">
	  </canvas>
	  <ul ng-repeat="peer in torrent.peers | filter: { state: 'connected' }">
	    <li>
	      {{peer.ip}}:{{peer.port}}
	      {{peer.state}} {{peer.error}}
	      <span ng-show="peer.state == 'connected'">
		{{peer.getDonePercent()}}%
		<span ng-show="peer.choked" style="color: red">C</span>
		<span ng-hide="peer.choked" style="color: green">U</span>
		<span ng-show="peer.interested" style="color: blue">I</span>
		<span ng-hide="peer.interested" style="color: #ccc">N</span>
		<span ng-show="peer.interesting" style="color: blue">I!</span>
		<span ng-hide="peer.interesting" style="color: #ccc">N!</span>
		<span ng-show="peer.state == 'connected'">
		  {{round(peer.minDelay)}} ms, req {{peer.requestedChunks.length}}/{{peer.inflightThreshold}}, {{peer.buffer.length}} buffer
		</span>
	      </span>
	    </li>
	  </ul>
	  <p>{{torrent.store.fileQueuesSize()}} file I/Os queued</p>
	</li>
      </ul>
    </section>
  </body>
</html>
