html {
    width: 100%;
    height: 100%;
    overflow: auto;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 90%;
}

body {
    margin: 0;
    padding: 0.5em 2em;
}

h1 {
    font-size: 200%;
    color: #333;
    font-weight: 900;
    font-style: italic;
    margin: 0.2em 0;
    padding: 0;
}

.torrent {
    margin: 1em 0.5em;
    padding: 0;
}

.torrent h2 {
    font-weight: normal;
    font-size: 100%;
    text-decoration: underline;
    color: #070;
    cursor: pointer;
    display: inline;
}
.torrent .size {
    display: inline;
    color: #777;
}
.torrent .size:after {
    display: block;
}

.torrent button {
    margin: 2px 4px 2px 0;
}

.torrent .files {
    list-style-type: none;
    margin: 0.5em;
    padding: 0;
}
.torrent h3 {
    color: #007;
    font-size: 100%;
    font-weight: normal;
    margin: 0;
}

.pieces-container {
    display: block;
}
.pieces-container .pieces-scroll {
    max-width: 100%;
    overflow-x: auto;
    margin: 0.5em 1em 0 0;
}
.pieces-container canvas.pieces {
    display: inline-block;
    margin: 0;
    border: 1px solid #333;
}
.pieces-container .pieces-legend {
    text-align: center;
    font-size: 80%;
    color: #333;
    margin: 0 0 1em;
}
.pieces-container .pieces-legend span {
    display: inline-block;
    width: 0.5em;
    height: 0.5em;
    line-height: 0.5em;
    vertical-align: middle;
    border: 1px solid #333;
    margin: 0 0.1em 0 0.7em;
}
.torrent .peers {
    font-size: 80%;
    border-spacing: 0;
}
.torrent .peers thead tr {
    background-color: #333;
    color: white;
}
.torrent .peers th {
    text-align: left;
}
.torrent .peers th, .torrent .peers td {
    margin: 0;
    padding: 0.2em 0.5em;
}
.torrent .peers tbody tr:hover {
    background-color: #ddd;
}

.torrent .video-container {
    margin: 0 auto;
}
.torrent video {
    margin: 0.5em 0;
    padding: 0.8em 1em;
    background-color: black;
    border-radius: 1em;
    max-width: 70%;
}